body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, black, black 70.71%), linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
  ;

}

div {
  box-align: center;
  align-items: center;

}

h1 {
  font-size: 46px;
  font-family: inherit;
  text-align: center;
  color: white;
}

h3 {
  font-size: 46px;
  font-family: inherit;
  text-align: center;
  color: white;
}

h4 {
  font-size: 30px;
  font-family: inherit;
  text-align: center;
  color: rgb(51, 122, 183);
}

img {

  vertical-align: middle;
  border: 0;
}

nav li {
  display: inline;
  margin-right: 0px;
  color: #fff;
  font-weight: 700;
  font-size: 21px;
  margin-right: 300px;


}

nav {
  width: "100%";
  position: relative;

  border: 1px solid transparent;


  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  background: #6d071a;

}

nav li a {


  color: #fff;
  font-size: 18px;
  font-weight: bold;
  width: 180px;
  font: 1em "Trebuchet MS", Arial, sans-serif;
  line-height: 3em;

  text-decoration: none;
}

nav li a:hover {
  background: #900;
  text-decoration: none;
}

td {
  padding: 2000px;
}

label {
  padding-bottom: 20px;
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 200px;

}

.butt {
  margin-left: 255px;
  width: 100;
  height: 34px;
  background-color: cornflowerblue;
}

.forms {

  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 250px;
  align-items: center;
  margin-bottom: 15px;
}

button,
input {
  margin-right: 10px;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.42857143;
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80px;
}

select {
  margin-right: 10px;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.42857143;
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80px;
}

textarea {
  height: 150px;

  padding: 6px 12px;

  line-height: 3.42857143;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 500px;
  align-items: center;
  margin-bottom: 15px;

  overflow: auto;
}

#h1 {

  font-size: 8em;
  font-family: 'Bree Serif', serif;
  color: #fff;
  position: absolute;
  top: 14%;
  left: 35%;
  text-shadow: 5px 2px rgb(12, 11, 11);
}

#h2 {

  font-size: 8em;
  font-family: 'Bree Serif', serif;
  color: #fff;
  position: absolute;
  top: 14%;
  left: 35%;
  text-shadow: 5px 2px rgb(12, 11, 11);
}

.back {
  margin-bottom: 20px;
}



.mag {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px 5% 0px 5%;
}

.mag #igg1 #igg2 #igg3 #igg4 #igg5 #igg6 {
  margin-right: 30px;
  margin-bottom: 30px;

}

.mag .mag1 {
  height: 310px;
  width: 1000px;
}

.mag .mag1 img {
  margin-right: 30px;
  margin-bottom: 30px;
}

hr {
  border-color: cornsilk;
}

#igg1 {
  background-image: url("../res/cours3.jpg");
}

#igg2 {
  background-image: url("../res/cours1.png");
}

#igg3 {
  background-image: url("../res/cours4.png");
}

#igg4 {
  background-image: url("../res/cours6.jpg");
}

#igg5 {
  background-image: url("../res/cours7.jpg");
}

#igg6 {


  background-image: url("../res/cours9.png");


}

.element {
  height: 540px;
  width: 32%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
  margin-bottom: 20px;
}

.butcours {

  margin-left: 220px;

  position: absolute;
  margin-top: 270px;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.42857143;
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100px;
}








a {
  text-decoration: none;
}